@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
